# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.venv/
.pytest_cache/

# Django
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/
/static/css/theme-options.css

# Vercel
.vercel/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archives
*.zip
*.tar.gz
*.rar

# Misc
*.orig
*.rej
.DS_Store

# Environment variables
.env

# Local settings
local_settings.py
